@import url(http://fonts.googleapis.com/css?family=Oxygen:300);

@import 'normalize.css'

colorPrimary = #c56183;
colorSecondary = #555555;
colorTertiary = #ffdd00;

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #fff;
  color: #222;
  font-size: 85%;/* Resets 1em to 12px */
  line-height: 1.25;
  font-weight: 100;
  font-family: 'Oxygen', sans-serif;
}

a {
  color: colorPrimary;
  &:active, &:visited, &:hover {
    color: colorPrimary;
  }
}

header {
  background: colorSecondary;
  //background-image: linear-gradient(#bf5877, #ca6e91);
  width: 250px;
  height: 100%;
  float: left;

  overflow: auto;
  box-shadow: 3px 0 0 rgba(0, 0, 0, 0.25);
  h1 {
    width: 211px;;
    margin: 12px auto 12px;
    a {
      background: url(../images/logo_header.png) center center no-repeat;
      display: block;
      width: 211px;
      height: 43px;
      text-indent: -200%;
    }
  }

  .gizmo {
    width: 150px;
    height: 143px;
    margin: 0 auto;
    background: url(../images/gizmo.png) center center no-repeat;
  }

  nav {
    margin-top: 24px;
    //border-top: 1px solid #5f5f5f;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        //border-top: 1px solid #666;
        //border-bottom: 1px solid #5f5f5f;
        list-style-type: none;
        padding: 0;
        margin: 0;

        a {
          display: block;
          padding: 12px 6px;
          color: #ccc;
          text-decoration: none;
          font-size: 1.25em;
          text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
          &:active, &:visited, &:hover {
            color: #ccc;
          }
          &:hover {
            background: colorTertiary;
            color: #555;
            text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
            transition: background .25s ease;
          }
          &.active {
            color: #ddd;
            background: #4a4a4a;
            border-right: 4px solid colorTertiary;
            &:hover {
              color: #ddd;
              text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
            }
          }
        }
      }

      li:last-child {
        margin-right: 0;
      }
    }
  }
}

.content {
  border-top: 6px solid colorTertiary;
  margin-left: 250px;
  height: 100%;
  overflow: auto;
  > div {
    height: 100%;
    width: 100%;
    float: left;
    padding: 24px;

    h2 {
      margin: 0 0 24px;
      padding:0;
    }

    p {
      margin: 0 0 12px;
      padding: 0;
    }
  }
}